    .small-container {
        max-width: 100%;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .cart-page {
        margin: 20px auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .cart-info {
        display: flex;
        flex-wrap: wrap;
    }

    th {
        text-align: left;
        padding: 5px;
        color: #ffffff;
        background: #808080;
        font-weight: normal;
    }

    td {
        padding: 10px 5px;
    }

        td input {
            width: 40px;
            height: 30px;
            padding: 5px;
        }

        td a {
            color: #ff523b;
            font-size: 12px;
        }

        td img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

    .total-price {
        display: flex;
        justify-content: flex-end;
    }

        .total-price table {
            border-top: 3px solid #ff523b;
            width: 100%;
            max-width: 100%;
        }

    td:last-child {
        text-align: right;
    }

    th:last-child {
        text-align: right;
    }


    .empty-cart-image {
        text-align: center;
        width: 100%;
        padding: 20px; /* Optional padding for better spacing */
    }

        .empty-cart-image img {
            width: 50%; /* Adjust the size of the image */
            max-width: 200px; /* Ensure the image does not exceed a certain width */
            height: auto; /* Maintain the aspect ratio */
            margin: 0 auto; /* Center the image */
            display: block; /* Ensure block-level display for margin auto to work */
        }

