@page "/forgot-password"
@using WebShopApp_Blazor.Services
@inject IWebShopAppService webShopAppService
@inject NavigationManager navManager

<div class="loginBox">
    @if (user == null)
    {
        <div class="box">
            <h1>Verify Email</h1>

            <EditForm Model="@verfiyEmailModel" OnValidSubmit="VerifyEmail_Click">
                <ValidationSummary />

                <InputText type="email" name="email" placeholder="Email" class="email" @bind-Value="verfiyEmailModel.Email" autocomplete="off" />
                <br /><br />
                <input type="submit" class="btn-primary" value="Verify" />
            </EditForm>
            <div>

                <button class="btn-primary" @onclick="NavigateToLogin">Login</button>
            </div>
        </div>
    }
    else
    {
        <div class="box">
            <h1>Change Password</h1>

            <EditForm Model="@verfiyEmailModel" OnValidSubmit="VerifyEmail_Click">
                <ValidationSummary />

                <InputText type="email" name="email" placeholder="Email" class="email" @bind-Value="verfiyEmailModel.Email" autocomplete="off" readonly/>
                <br /><br />
                <InputText type="password" name="password" placeholder="New Password" class="password" @bind-Value="passwordModel.Password" autocomplete="off" />
                <br /><br />
                <InputText type="password" name="password" placeholder="Confirm New Password" class="password" @bind-Value="confirmPassword" autocomplete="off" />

                <br /><br />
                <button class="btn-primary" value="Submin" @onclick="ChangePassword_Click">Submit</button>
            </EditForm>
            <div>

                <button class="btn-primary" @onclick="NavigateToLogin">Login</button>
            </div>
        </div>
    }

    <br />
    @if (!string.IsNullOrEmpty(alertMessage))
    {
        <div>
            <p style="color: #e52e50;">
                <h4>@alertMessage</h4>
            </p>
        </div>
    }
</div>

@code {
    private VerifyEmailModel verfiyEmailModel = new VerifyEmailModel();
    private PasswordModel passwordModel = new PasswordModel();
    private string confirmPassword;

    private string alertMessage;
    private UserModel user;
    private int userId;

    private async Task VerifyEmail_Click()
    {
        if (string.IsNullOrEmpty(verfiyEmailModel.Email))
        {
            alertMessage = "Email is required";
            return;
        }

        bool emailExists = await webShopAppService.CheckEmailAsync(verfiyEmailModel.Email);
        if (!emailExists)
        {
            alertMessage = "Email is not registered";
        }
        else
        {
            alertMessage = string.Empty;
            var users = await webShopAppService.GetUsersAsync();
            user = users.FirstOrDefault(u => u.Email.Equals(verfiyEmailModel.Email, StringComparison.OrdinalIgnoreCase));
            if (user != null)
            {
                userId = user.Id;
            }
            else
            {
                alertMessage = "User with this email not found.";
            }
        }
    }

    private async Task ChangePassword_Click()
    {
        if (passwordModel.Password != confirmPassword)
        {
            alertMessage = "Password & Confirm Password do not match";
            return;
        }

        passwordModel.HashedPassword = ComputeSha256Hash(passwordModel.Password);
        passwordModel.OldPassword = "";
        passwordModel.UserId = userId;

        try
        {
            var response = await webShopAppService.ResetPassword(passwordModel);
            if (response.IsSuccessStatusCode)
            {
                passwordModel = new PasswordModel();
                confirmPassword = string.Empty;
                alertMessage = "Password is changed successfully";
            }
            else
            {
                alertMessage = await response.Content.ReadAsStringAsync(); 
            }
        }
        catch (Exception ex)
        {
            alertMessage = $"An error occurred: {ex.Message}";
        }
    }

    private string ComputeSha256Hash(string rawData)
    {
        using (var sha256Hash = System.Security.Cryptography.SHA256.Create())
        {
            byte[] bytes = sha256Hash.ComputeHash(System.Text.Encoding.UTF8.GetBytes(rawData));
            var builder = new System.Text.StringBuilder();
            for (int i = 0; i < bytes.Length; i++)
            {
                builder.Append(bytes[i].ToString("x2"));
            }
            return builder.ToString();
        }
    }

    private void NavigateToLogin()
    {
        navManager.NavigateTo("/login");
    }
}
