
.container-fluid {
    width: 100%;
    margin-top: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 100px;
    border-bottom: 1px  solid coral;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

/* Logo */
.logo-image {
    max-height: 40px; 
    width: auto;
    margin-right: 20px; 
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

/* Shopping cart */
.fa-shopping-cart {
    position: relative;
    font-size: 28px;
    color: dimgray;
}

.fa-shopping-cart span {
    position: absolute;
    top: -10px;
    right: -15px;
    background-color: coral;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px;
    min-width: 24px;
    text-align: center;
}

.right a:hover .fa-shopping-cart {
    color: #388e3c;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* Search */
.search-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px; 
    margin-top: 14px;
}

.search-input {
    border: none;
    padding: 12px;
    width: 100%;
    outline: none;
    font-size: 16px;
    background-color: white;
    color: dimgrey;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 42px;
}

.search-button {
    background-color: lightgrey;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 42px;
    transition: background-color 0.3s ease;
}

.search-button i {
    color: white;
    font-size: 18px;
}
 
.search-button:hover {
    background-color: coral;
}

/* Filter */
.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.filter-select {
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.custom-select {
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
    border-radius: 25px;
    width: 200px;
    background-color: white;
    height: 42px;
    appearance: none;
    color: dimgrey;
    transition: background-color 0.3s ease;
}

    .custom-select option {
        color: dimgrey;
        background-color: white;
    }


/* Products styling */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-left:8%;
    margin-bottom: 10%; 
}

/* Product card */
.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    padding: 10px;
    text-align: left;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.col-md-4 {
    flex: 0 0 22%; /* Adjust the width to fit four items per row */
    margin-bottom: 20px;
    margin-right: 1%; /* This ensures spacing between the columns */
}

/* Product image */
.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Product details in product-card */
.product-details{
    padding: 10px;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.product-price {
    font-size: 1.3em;
    color: #212529;
    font-weight: bold;
    margin-bottom: 15px;
}

.currency {
    font-weight: normal;
}

.product-price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
}

.product-price-cart .price {
    font-size: 18px;
}

.product-price-cart .cart-icon i {
    font-size: 24px; 
    cursor: pointer;
    color: coral; 
}


/* Adjust buttons styling */
button.btn {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

    button.btn:hover {
        background-color: #e0a800;
        color: #ffffff;
    }



/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Custom Close Button Styles */
.custom-close {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

    .custom-close:hover {
        color: #ff0000;
        transform: scale(1.2);
    }

