
.container {
    max-width: 1200px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.vertical-menu {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.vertical-menu a {
    background-color: #ffc1b3; /* Coral color */
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    flex-grow: 1;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.vertical-menu a:hover {
    background-color: #ff8b75; 
}

.vertical-menu a.active {
    background-color: #ff6150; 
}

/* My Account */
.content {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

.profile-card {
    background-color: #f7f7f7;
    color: coral;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    align-items: center;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-title{
    margin-top: -50px;
}

.profile-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-title p {
    margin: 0;
    color: dimgray;
}

.profile-details p{
    color: dimgray;
    font-family: 'Arial', sans-serif;
}

.profile-details strong {
    color: coral;
}

.avatar-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-details {
    margin-top: 20px;
}

.profile-avatar {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.avatar-img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover; /* Ensures the image covers the whole circle */
    margin-bottom: 10px;
    background-color: #f0f0f0; /* Optional: Add background color in case image has transparency */
}

.btn-edit {
    background-color: #ff6150;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.modal-content {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

.modal-body {
    text-align: center;
    padding: 20px 0;
}

.modal-body p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

.user-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.user-info label{
    width:100px;
    padding: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #f1f1f1;
}

.modal-btn {
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
}

.confirm {
    background-color: #ff6150;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancel {
    background-color: lightgray;
    color: coral;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-close {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    position: relative;
    top: -10px;
    right: -10px;
}

.custom-close:hover {
    color: coral;
}

.close-btn {
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    background-color: #ff6150;
    color: white;
}

/* Change password style */
.password-change-container {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    max-width: 70%; 
    margin: 0 auto;
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.password-form {
   margin: 50px;
}









.table-bordered {
    border: 1px solid #dee2e6;
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
        padding: .75rem;
        vertical-align: top;
    }

.table-responsive {
    overflow-x: auto;
}

.card-body {
    overflow-y: auto;
    max-height: 400px;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
    border-radius: 5px;
}

.product-details p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.summary-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    border-radius: 4px;
}

    .summary-table td {
        padding: .75rem;
        vertical-align: top;
    }
